@import "tailwindcss";

:root {
  --color-background: #ffffff;
  --color-foreground: #111827;

  --color-surface: #f9fafb;

  --color-primary: #0f766e;
  --color-secondary: #14532d;

  --color-accent: #f59e0b;
  --color-error: #dc2626;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  background-color: var(--color-background);
  color: var(--color-foreground);

  font-family: var(--font-geist-sans);

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
